body {
  background: rgb(235, 213, 213);
  font-family: "Bungee";
}

nav {
  background: #4056a1;
  height: 120px;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 2;
  color: #ffff;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-toggle {
  font-size: 23px;
  font-family: "Times New Roman", sans-serif;
  display: block;
}

.button-toggle .fas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: center; */
  margin: 10px;
}

.button-toggle .fas:hover {
  cursor: pointer;
  color: red;
}

/* cursor for button toggle in the nav bar bounces up and down  */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-9px);
  }
}

.button-toggle .fas {
  animation: bounce 0.38s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
/* media query declared for header when width is below 1024px to create the background-color */
@media only screen and (min-width: 1024px) {
  /* Write CSS rules that target Laptop/Desktop screen sizes and beyond */
  nav {
    background-color: #111111;
    color: #f0f0f0;
    text-align: left;
  }
}

/* media query declared for header when width is below 1024px to make the background-color to match with color of header */
@media only screen and (max-width: 1024px) {
  nav {
    background-color: #8a008a;
    background-image: url(https://www.transparenttextures.com/patterns/45-degree-fabric-light.png);
  }
}
