body {
  background: rgb(235, 213, 213);
  font-family: "Bungee";
}
nav {
  background: #4056a1;
  height: 120px;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 2;
  color: #ffff;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-toggle {
  font-size: 23px;
  font-family: "Times New Roman", sans-serif;
  display: block;
}

.button-toggle .fas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: center; */
  margin: 10px;
}

.button-toggle .fas:hover {
  cursor: pointer;
  color: black;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-9px);
  }
}

.button-toggle .fas {
  animation: bounce 0.3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
